{% extends "layout.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/index#filing-history"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Request a document</h1>

      <h2 class="govuk-heading-m">Document details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
        {
            key: {
              text: "Company"
            },
            value: {
              text: "FILINGS LTD"
            }
          },
          {
            key: {
              text: "Company number"
            },
            value: {
              text: "00002065"
            }
          },
          {
            key: {
              text: "Date"
            },
            value: {
              text: "04 Dec 2017"
            }
          },
          {
            key: {
              text: "Type"
            },
            value: {
              text: "TM02"
            }
          },
          {
            key: {
              text: "Description"
            },
            value: {
              html: "Termination of appointment of Secretary Ltd as a secretary on 4 December 2017"
            }
          }
        ]
      }) }}
      <p class="govuk-body">
        If this document is available, we will update the company’s filing history within 5 working days.
      </p>

      <form action="confirmation" method="post" novalidate>
        {{ govukButton({
          text: "Request document"
        }) }}
        <p> <a href="/index#filing-history" class="govuk-link govuk-link--no-visited-state">Cancel</a> </p>
      </form>

    </div>
  </div>
{% endblock %}