{% extends "layout.html" %}

{% block pageTitle %}
  Request a document
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "CHS-signin"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Request a document</h1>

      <h2 class="govuk-heading-m">Document details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
        {
            key: {
              text: "Company name"
            },
            value: {
              text: "FILINGS LTD"
            }
          },
          {
            key: {
              text: "Company number"
            },
            value: {
              text: "00002065"
            }
          },
          {
            key: {
              text: "Date"
            },
            value: {
              text: "4 Dec 2017"
            }
          },
          {
            key: {
              text: "Type"
            },
            value: {
              text: "TM02"
            }
          },
          {
            key: {
              text: "Description"
            },
            value: {
              html: "Termination of appointment of Secretary Ltd as a secretary on 4 December 2017"
            }
          },
          {
            key: {
              text: "Fee"
            },
            value: {
              text: "£3"
            }
          }
        ]
      }) }}
      <p class="govuk-body">
        It takes us up to 2 hours to check if a document is available and add it to a company's filing history between 8.30am - 4pm, Monday - Friday (excluding holidays).</p>

        <p class="govuk-body">If you make a request outside of this time, the document will be added the next working day.</p>

      <form action="confirmation" method="post" novalidate>
        {{ govukButton({
          text: "Continue to payment"
        }) }}
        <p> <a href="/index#filing-history" class="govuk-link govuk-link--no-visited-state">Cancel</a> </p>
      </form>

    </div>
  </div>
{% endblock %}
