<nav class="pagination">
  <ul role="navigation">
    <li>
      <a href="" class="prev">Previous</a>
    </li>
    <li>
      <span class="active">1</span>
    </li>
    <li>
      <a href="">2</a>
    </li>
    <li>
      <a href="">3</a>
    </li>
    <li>
      <a href="">4</a>
    </li>
    <li>
      <a href="">5</a>
    </li>
    <li>
      <a href="">6</a>
    </li>
    <li>
      <a href="">7</a>
    </li>
    <li>
      <a href="">8</a>
    </li>
    <li>
      <a href="" class="next">Next</a>
    </li>
  </ul>
</nav>
<div class="meta">
  6,955 matches found
</div>
