// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you



.select2-selection {
  border: 2px solid #0b0c0c !important;
  border-radius: 0 !important;
  padding: 5px !important;
  margin-top: 0;
  font-family: "GDS Transport", Arial, sans-serif;
}

.select2-selection:focus-within {
    outline: 3px solid #ffdd00 !important;
    outline-offset: 0 !important;
    box-shadow: inset 0 0 0 2px !important;
}

.accordion-label{
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    display: block;
    margin-bottom: 5px;
}
.accordion-hint {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    margin-bottom: 15px;
    color: #626a6e;
}


 .govuk-accordion__section-header {
    padding-top: govuk-spacing(2);
    padding-bottom: govuk-spacing(2);
  }

   // Buttons within the sections don’t need default styling
  .govuk-accordion__section-button {
    @include govuk-font($size: 16, $weight: bold);
    display: inline-block;
    margin-bottom: 0;
    padding-top: govuk-spacing(3);
  }


.govuk-input {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    height: 2rem;
    margin-top: 0;
    padding: 5px;
    border: 2px solid #0b0c0c;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.govuk-form-group {
    margin-bottom: 10px;
}

.no-wrap {
  white-space: nowrap;
}

.pagination {
  display: inline-block;
}

.pagination a {
  float: left;
  font-size: 19px;
  padding: 8px 16px;
}

@media (min-width: 641px) {
    .searchbutton{
        margin-top: 25px;
        margin-left: -17px;

    }
}
