{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

  <main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/login_bar.html" %}
    {% include "includes/search-bar.html" %}
    <h1 class="heading-xlarge">
      David Gregory ALLSWAY
    </h1>
    <div class="data-group">
      <div class="grid-row">
        <div class="column-quarter">
          <span class="data-key" id="key-dob">
            Date of birth
          </span>
          <span class="data-value" aria-describedby="key-dob">
            19 October 1990
          </span>
        </div>
        <div class="column-quarter">
          <span class="data-key" id="key-nationality">
            Nationality
          </span>
          <span class="data-value" aria-describedby="key-nationality">
            British
          </span>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
