{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

  <main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/login_bar.html" %}
    {% include "includes/search-bar.html" %}
    <h1 class="heading-xlarge">
      David Gregory ALLSWAY
    </h1>
    <div class="data-group">
      <div class="grid-row">
        <div class="column-quarter">
          <span class="data-key" id="key-dob">
            Date of birth
          </span>
          <span class="data-value" aria-describedby="key-dob">
            19 October 1990
          </span>
        </div>
        <div class="column-quarter">
          <span class="data-key" id="key-nationality">
            Nationality
          </span>
          <span class="data-value" aria-describedby="key-nationality">
            British
          </span>
        </div>
      </div>
    </div>
    <hr/>
    <div class="grid-row">
      <div class="column-full">
        <section class="disqualifications">
          <h2 class="heading-large">Disqualifications</h2>
          <article>
            <h3 class="heading-medium">Court order</h3>
            <div class="grid-row">
              <div class="column-two-thirds">
                <div class="data-group">
                  <span class="data-key" id="key-address-0">Address provided by the disqualifying authority</span>
                  <span class="data-value" aria-labelledby="key-address-0">9 Banbury Lane, Wenham, Gloucestershire, GL4 6HG</span>
                </div>
              </div>
            </div>
            <div class="grid-row">
              <div class="column-third">
                <div class="data-group">
                  <span class="data-key" id="key-start-0">Start date</span>
                  <span class="data-value" aria-labelledby="key-start-0">19 February 2014</span>
                </div>
              </div>
              <div class="column-third">
                <div class="data-group">
                  <span class="data-key" id="key-end-0">End date</span>
                  <span class="data-value" aria-labelledby="key-end-0">18 February 2019</span>
                </div>
              </div>
            </div>
            <div class="grid-row">
              <div class="column-third">
                <div class="data-group">
                  <div class="data-key" id="key-reference-0">Case reference</div>
                  <span class="data-value" aria-labelledby="key-reference-0">TM-20134</span>
                </div>
              </div>
              <div class="column-third">
                <div class="data-group">
                  <span class="data-key" id="key-court-0">Court</span>
                  <span class="data-value" aria-labelledby="key-court-0">Gloucestercshire Crown Court</span>
                </div>
              </div>
            </div>
            <div class="grid-row">
              <div class="column-two-thirds">
                <div class="data-group">
                  <span class="data-key" id="key-actingfor-0">Disqualified for conduct while for</span>
                  <div class="data-value" aria-labelledby="key-actingfor-0">
                    <ul class="list list-bullet">
                      <li>JOHNSTONE HAULAGE LIMITED</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-row">
              <div class="column-two-thirds">
                <div class="data-group">
                  <span class="data-key" id="key-reason-0">Reason</span>
                  <span class="data-value" aria-labelledby="key-reason-0">
                    Company Directors Disqualification Act 1986 (Section 2): Disqualification on conviction of indictable offence
                  </span>
                </div>
              </div>
            </div>
          </article>
          <article>
            <h3 class="heading-medium">Undertaking</h3>
            <div class="grid-row">
              <div class="column-two-thirds">
                <div class="data-group">
                  <span class="data-key" id="key-address-1">Address provided by the disqualifying authority</span>
                  <span class="data-value" aria-labelledby="key-address-1">9 Banbury Lane, Wenham, Gloucestershire, GL4 6HG</span>
                </div>
              </div>
            </div>
            <div class="grid-row">
              <div class="column-third">
                <div class="data-group">
                  <span class="data-key" id="key-start-1">Start date</span>
                  <span class="data-value" aria-labelledby="key-start-1">19 February 2014</span>
                </div>
              </div>
              <div class="column-third">
                <div class="data-group">
                  <span class="data-key" id="key-end-1">End date</span>
                  <span class="data-value" aria-labelledby="key-end-1">18 February 2019</span>
                </div>
              </div>
            </div>
            <div class="grid-row">
              <div class="column-third">
                <div class="data-group">
                  <div class="data-key" id="key-reference-1">Case reference</div>
                  <span class="data-value" aria-labelledby="key-reference-1">TM-21134</span>
                </div>
              </div>
            </div>
            <div class="grid-row">
              <div class="column-two-thirds">
                <div class="data-group">
                  <span class="data-key" id="key-actingfor-1">Disqualified for conduct while for</span>
                  <div class="data-value" aria-labelledby="key-actingfor-1">
                    <ul class="list list-bullet">
                      <li>JOHNSTONE HAULAGE LIMITED</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-row">
              <div class="column-two-thirds">
                <div class="data-group">
                  <span class="data-key" id="key-reason-1">Reason</span>
                  <span class="data-value" aria-labelledby="key-reason-1">
                    Company Directors Disqualification Act 1986 (Section 7): Disqualification order or undertaking; and reporting provisions
                  </span>
                </div>
              </div>
            </div>
          </article>
        </section>
      </div>
    </div>
  </main>
{% endblock %}
