{% extends "layout.html" %}

{% block pageTitle %}
  Companies House enhanced search
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="https://beta.companieshouse.gov.uk/">Back to Companies House service</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Advanced company search</h1>

        <p class="govuk-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <p> <a href="#" class="govuk-link">Download as CSV</a></p>

      </div>
    </div>
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third">

          <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
            Update results
          </button>

          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Clear search
        </button>

      
        {{ govukAccordion({
          id: "accordion-default",

          items: [
            {
              heading: {
                text: "Company name"
              },
              content: {
                html: "
                <div class='govuk-form-group'>
                        <div class='govuk-form-group'>
                          
                          <input class='govuk-input govuk-!-width-width-full' id='contains-company-name' name='contains-company-name' type='text'>
                        </div>
                    </div>"

              }
            },
              {
              heading: {
                text: "Registered office address"
              },
              content: {
                html: '<fieldset class="govuk-fieldset">
                    
                          <div class="govuk-form-group">
                            
                        
                            <select class="location" style="border: 20px; width: 100%" multiple="multiple">
                              <option value="eng">Powys</option>
                              <option value="irl">Swansea</option>
                              <option value="scot">Cardiff</option>
                              <option value="wal">Newport</option>
                            </select>
                          </div>

                        </fieldset>'
              }
            },
              {
              heading: {
                text: "Status"
              },
              content: {
                html: '<div class="govuk-form-group">
                          <fieldset class="govuk-fieldset" aria-describedby="company-status-hint">
                            <div class="govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="all-companies" name="all-companies" type="checkbox" value="all-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="all-companies">
                                All companies
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Active
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="dissolved-companies" name="dissolved-companies" type="checkbox" value="dissolved-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="dissolved-companies">
                                  Dissolved
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="open-companies" name="open-companies" type="checkbox" value="open-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="open-companies">
                                  Open
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="closed-companies" name="closed-companies" type="checkbox" value="closed-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="closed-companies">
                                  Closed
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="converted-closed-companies" name="converted-close-companies" type="checkbox" value="converted-closed-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="converted-close-companies">
                                  Converted closed
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="receivership-companies" name="receivership-companies" type="checkbox" value="receivership-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="receivership-companies">
                                  Receivership
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="liquidation-companies" name="liquidation-companies" type="checkbox" value="liquidation-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="liquidation-companies">
                                  Liquidation
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="administration-companies" name="administration-companies" type="checkbox" value="administration-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="administration-companies">
                                  Administration
                                </label>
                              </div>


                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="insolvency-companies" name="insolvency-companies" type="checkbox" value="insolvency-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="insolvency-companies">
                                  Insolvency proceedings
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="voluntary-arrangement-companies" name="voluntary-arrangement-companies" type="checkbox" value="voluntary-arrangement-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="voluntary-arrangement-companies">
                                  Voluntary arrangement
                                </label>
                              </div>

                            <div class="govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="liquidation-companies" name="liquidation-companies" type="checkbox" value="liquidation-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="liquidation-companies">
                                  Liquidation
                                </label>
                              </div>

                              
                          </div> 
                          </fieldset>
                        </div>'
              }
            },
            {
              heading: {
                text: "Company types"
              },
              content: {
                html: '<div class="govuk-form-group">
                          <fieldset class="govuk-fieldset" aria-describedby="company-type-hint">
                            <div class="govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="all-company-types" name="all-company-types" type="checkbox" value="all-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="all-company-types">
                                All company types 
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Private unlimited
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="dissolved-companies" name="dissolved-companies" type="checkbox" value="dissolved-companies">
                                <label class="govuk-label govuk-checkboxes__label" for="dissolved-companies">
                                  Private company limited by shares (LTD)
                                </label>
                              </div>

                              <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Old public company
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Private limited guarant nsc limited exemption
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Limitied partnership
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Private limited guarant nsc
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Converted or closed
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Private unlimited nsc
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Private limited shares section 30 exemption
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Protected cell company
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Assurance company
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Oversea company
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Eeig
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Icvc securities
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Icvc warrant
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Industrial and provident society
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Northern Ireland
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Northern Ireland other
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                LLP
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Royal Charter
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Investment company with variable capital
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Unregistered company
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                European public limited liability company se
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                UK establishment
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Scottish partnership
                              </label>
                            </div>


                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Charitable incorporated organisation
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Scottish charitable incorporated organisation
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Further education or sixth form college corporation
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Community interest company
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="active-companies" name="active-companies" type="checkbox" value="active-companies">
                              <label class="govuk-label govuk-checkboxes__label" for="active-companies">
                                Private fund limited partnership
                              </label>
                            </div>


                              
                          </div> 
                          </fieldset>
                        </div>'
              }
            },
            {
              heading: {
                text: "Companies incorporated"
              },
              content: {
                html: '<div class="govuk-form-group">
                            <h1 class="govuk-label-wrapper"><label class="accordion-label govuk-label--s" for="incorporation-date-from">
                                From
                              </label>
                            </h1>
                            <div id="incorporation-date-from-hint" class="accordion-hint">
                              For example, 2007 or 27/3/2007
                            </div>
                            <input class="govuk-input govuk-input--width-10" id="incorporation-date-from" name="incorporation-date-from" type="text" spellcheck="false" aria-describedby="incorporation-date-hint" pattern="[0-9]*" inputmode="numeric">
                          </div>

                          <div class="govuk-form-group">
                            <h1 class="govuk-label-wrapper"><label class="accordion-label govuk-label--s" for="incorporation-date-to">
                                To
                              </label>
                            </h1>
                            <div id="incorporation-date-to-hint" class="accordion-hint">
                              For example, 2007 or 27/3/2007
                            </div>
                            <input class="govuk-input govuk-input--width-10" id="incorporation-date-to" name="incorporation-date-to" type="text" spellcheck="false" aria-describedby="incorporation-date-to-hint" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        '         
              }
            },
            {
              heading: {
                text: "Companies dissolved"
              },
              content: {
                html: '
                          <div class="govuk-form-group">
                            <h1 class="govuk-label-wrapper"><label class="accordion-label govuk-label--s" for="dissolved-date-from">
                                From
                              </label>
                            </h1>
                            <div id="dissolved-date-from-hint" class="accordion-hint">
                              For example, 2007 or 27/3/2007
                            </div>
                            <input class="govuk-input govuk-input--width-10" id="dissolved-date-from" name="dissolved-date-from" type="text" spellcheck="false" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric">
                          </div>

                          <div class="govuk-form-group">
                            <h1 class="govuk-label-wrapper"><label class="accordion-label govuk-label--s" for="dissolved-date-to">
                                To
                              </label>
                            </h1>
                            <div id="dissolved-date-to-hint" class="accordion-hint">
                              For example, 2007 or 27/3/2007
                            </div>
                            <input class="govuk-input govuk-input--width-10" id="dissolved-date-to" name="dissolved-date-to" type="text" spellcheck="false" aria-describedby="dissolved-date-to-hint" pattern="[0-9]*" inputmode="numeric">
                          </div>'
              }
            },
            {
              heading: {
                text: "Nature of business"
              },
              content: {
                html: '<div class="govuk-form-group">
                        <label class="accordion-label" for="event-name">
                          Standard Industrial Classification (SIC) codes
                        </label>
                        <span id="account-number-hint" class="accordion-hint">
                          Enter your search term, for example \'motor\'.
                        </span>
                        <input class="govuk-input govuk-!-width-full" id="event-name" name="event-name" type="text">
                      </div>'
              }
            }
          ]
        }) }}

      <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
        Update results
      </button>

      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Clear search
    </button>


      


    </div>

        <div class="govuk-grid-two-thirds" style="padding-left:0px">
        
       <table class="govuk-table-search">

        <span> <caption class="govuk-table__caption govuk-table__caption--m">4,000 results <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> </span> </caption>

        

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header no-wrap govuk-body govuk-!-font-size-14">Company name</th>
              <th scope="col" class="govuk-table__header no-wrap govuk-body govuk-!-font-size-14">Company number</th>
              <th scope="col" class="govuk-table__header no-wrap govuk-body govuk-!-font-size-14">Incorporated on</th>
              <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-14">Registered office address</th>


            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell govuk-!-font-size-14">THIS IS THE COAST LIMITED</td>
              <td class="govuk-table__cell govuk-!-font-size-14">01210067</td>
              <td class="govuk-table__cell govuk-!-font-size-14">31 Dec 1987</td>
              <td class="govuk-table__cell govuk-!-font-size-14">111 Burnt Oak Broadway, Edgware, Middlesex, HA8 5EN</td>

            </tr>
                        <tr class="govuk-table__row">
              
              <td class="govuk-table__cell govuk-!-font-size-14">THIS IS THE COAST LIMITED</td>
              <td class="govuk-table__cell govuk-!-font-size-14">01210067</td>
              <td class="govuk-table__cell govuk-!-font-size-14">31 Dec 1987</td>
              <td class="govuk-table__cell govuk-!-font-size-14">111 Burnt Oak Broadway, Edgware, Middlesex, HA8 5EN</td>

            </tr>            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell govuk-!-font-size-14">THIS IS THE COAST LIMITED</td>
              <td class="govuk-table__cell govuk-!-font-size-14">01210067</td>
              <td class="govuk-table__cell govuk-!-font-size-14">31 Dec 1987</td>
              <td class="govuk-table__cell govuk-!-font-size-14">111 Burnt Oak Broadway, Edgware, Middlesex, HA8 5EN</td>

            </tr>            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell govuk-!-font-size-14">THIS IS THE COAST LIMITED</td>
              <td class="govuk-table__cell govuk-!-font-size-14">01210067</td>
              <td class="govuk-table__cell govuk-!-font-size-14">31 Dec 1987</td>
              <td class="govuk-table__cell govuk-!-font-size-14">111 Burnt Oak Broadway, Edgware, Middlesex, HA8 5EN</td>

            </tr>            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell govuk-!-font-size-14">THIS IS THE COAST LIMITED</td>
              <td class="govuk-table__cell govuk-!-font-size-14">01210067</td>
              <td class="govuk-table__cell govuk-!-font-size-14">31 Dec 1987</td>
              <td class="govuk-table__cell govuk-!-font-size-14">111 Burnt Oak Broadway, Edgware, Middlesex, HA8 5EN</td>

            </tr>            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell govuk-!-font-size-14">THIS IS THE COAST LIMITED</td>
              <td class="govuk-table__cell govuk-!-font-size-14">01210067</td>
              <td class="govuk-table__cell govuk-!-font-size-14">31 Dec 1987</td>
              <td class="govuk-table__cell govuk-!-font-size-14">111 Burnt Oak Broadway, Edgware, Middlesex, HA8 5EN</td>

            </tr>            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell govuk-!-font-size-14">THIS IS THE COAST LIMITED</td>
              <td class="govuk-table__cell govuk-!-font-size-14">01210067</td>
              <td class="govuk-table__cell govuk-!-font-size-14">31 Dec 1987</td>
              <td class="govuk-table__cell govuk-!-font-size-14">111 Burnt Oak Broadway, Edgware, Middlesex, HA8 5EN</td>

            </tr>            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell govuk-!-font-size-14">THIS IS THE COAST LIMITED</td>
              <td class="govuk-table__cell govuk-!-font-size-14">01210067</td>
              <td class="govuk-table__cell govuk-!-font-size-14">31 Dec 1987</td>
              <td class="govuk-table__cell govuk-!-font-size-14">111 Burnt Oak Broadway, Edgware, Middlesex, HA8 5EN</td>

            </tr>            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell govuk-!-font-size-14">THIS IS THE COAST LIMITED</td>
              <td class="govuk-table__cell govuk-!-font-size-14">01210067</td>
              <td class="govuk-table__cell govuk-!-font-size-14">31 Dec 1987</td>
              <td class="govuk-table__cell govuk-!-font-size-14">111 Burnt Oak Broadway, Edgware, Middlesex, HA8 5EN</td>

            </tr>            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell govuk-!-font-size-14">THIS IS THE COAST LIMITED</td>
              <td class="govuk-table__cell govuk-!-font-size-14">01210067</td>
              <td class="govuk-table__cell govuk-!-font-size-14">31 Dec 1987</td>
              <td class="govuk-table__cell govuk-!-font-size-14">111 Burnt Oak Broadway, Edgware, Middlesex, HA8 5EN</td>

            </tr>            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell govuk-!-font-size-14">THIS IS THE COAST LIMITED</td>
              <td class="govuk-table__cell govuk-!-font-size-14">01210067</td>
              <td class="govuk-table__cell govuk-!-font-size-14">31 Dec 1987</td>
              <td class="govuk-table__cell govuk-!-font-size-14">111 Burnt Oak Broadway, Edgware, Middlesex, HA8 5EN</td>

            </tr>            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell govuk-!-font-size-14">THIS IS THE COAST LIMITED</td>
              <td class="govuk-table__cell govuk-!-font-size-14">01210067</td>
              <td class="govuk-table__cell govuk-!-font-size-14">31 Dec 1987</td>
              <td class="govuk-table__cell govuk-!-font-size-14">111 Burnt Oak Broadway, Edgware, Middlesex, HA8 5EN</td>

            </tr>            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell govuk-!-font-size-14">THIS IS THE COAST LIMITED</td>
              <td class="govuk-table__cell govuk-!-font-size-14">01210067</td>
              <td class="govuk-table__cell govuk-!-font-size-14">31 Dec 1987</td>
              <td class="govuk-table__cell govuk-!-font-size-14">111 Burnt Oak Broadway, Edgware, Middlesex, HA8 5EN</td>

            </tr>            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell govuk-!-font-size-14">THIS IS THE COAST LIMITED</td>
              <td class="govuk-table__cell govuk-!-font-size-14">01210067</td>
              <td class="govuk-table__cell govuk-!-font-size-14">31 Dec 1987</td>
              <td class="govuk-table__cell govuk-!-font-size-14">111 Burnt Oak Broadway, Edgware, Middlesex, HA8 5EN</td>

            </tr>            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell govuk-!-font-size-14">THIS IS THE COAST LIMITED</td>
              <td class="govuk-table__cell govuk-!-font-size-14">01210067</td>
              <td class="govuk-table__cell govuk-!-font-size-14">31 Dec 1987</td>
              <td class="govuk-table__cell govuk-!-font-size-14">111 Burnt Oak Broadway, Edgware, Middlesex, HA8 5EN</td>

            </tr>
          </tbody>
        </table>
      </div>

</div>

</div>




{% endblock %}
