{% extends "layout.html" %}

{% block pageTitle %}
  Dissolved company search
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Dissolved company search
      </h1>
      <p class="govuk-body">
        Search the register for Companies dissolved between 10 and 20 years ago.
      </p>
      
        {{ govukInput({
          label: {
            text: "Company name"
          },
          id: "company-name",
          name: "company-name",
          classes: "govuk-!-width-two-thirds"
        }) }}

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "previous-names",
          name: "previous-names",
          classes: "govuk-checkboxes--small",
      
          items: [
            {
              value: "previous-names",
              text: "Include previous names"
            }
          ]
        }) }}

                          

        {{ govukButton({
          text: "Search",
          href:"../search/dissolved-records-results"
        }) }}

    </div>
  </div>

{% endblock %}