{% extends "layout.html" %}

{% set serviceName %}

{% endset%}

{% block pageTitle %}

Dissolved company search
  
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "../search/dissolved-search",
    text: "Search again"
  }) }}

{% endblock %}



{% block content %}


    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


      <h1 class="govuk-heading-xl">Search results</h1>

        {% from "govuk/components/table/macro.njk" import govukTable %}

        {{ govukTable({
          firstCellIsHeader: false,
          head: [
            {
              text: "Company name"
            },
            {
              html: "Company number",
              classes: "no-wrap"
            },
            {
              text: "Incorporated on",
              classes: "no-wrap"
            },
            {
              html: "Dissolved on",
              classes: "no-wrap"
            },
            {
              text: "Town",
              classes: "no-wrap"
            },
            {
              text: "Postcode",
              classes: "no-wrap"
            }

          ],
          rows: [
            [
              {
                html: "THIS IS THE COAST LIMITED"
              },
              {
                text: "01210067"
              },
              {
                text:"31 Dec 1987"
              },
              {
                text:"12 Oct 2001"
              },
              {
                text:"London"
              },
              {
                text:"SE4"
              }
            ],
            [
              {
                html: "THIS IS THE COMPANY WITH THE LONGEST NAME SO FAR INCORPORATED AT THE REGISTRY OF COMPANIES IN ENGLAND AND WALES AND ENCOMPASSING THE REGISTRIES BASED IN SCOTLAN "
              },
              {
                text: "01210067"
              },
              {
                text:"31 Dec 1987"
              },
              {
                html:"12 Oct 2001",
                classes: "no-wrap"
              },
              {
                text:"London"
              },
              {
                text:"SE4"
              }
       
            ],
            [
              {
                html: "THIS IS A COOL COMPANY NAME"
              },
              {
                text: "01210067"
              },
              {
                text:"31 Dec 1987"
              },
              {
                text:"12 Oct 2001"
              },
              {
                text:"London"
              },
              {
                text:"SE4"
              }

            ],
            
            [
              {
                html: "ACM DISTRIBUTORS LTD"
              },
              {
                text: "01210067"
              },
              {
                text:"31 Dec 1987"
              },
              {
                text:"12 Oct 2001"
              },
              {
                text:"London"
              },
              {
                text:"SE4"
              }
            ],
            [
              {
                html: "ACM DRIVER LTD"
              },
              {
                text: "01210067"
              },
              {
                text:"31 Dec 1987"
              },
              {
                text:"12 Oct 2001"
              },
              {
                text:"London"
              },
              {
                text:"SE4"
              }

            ],
            [
              {
                html: "ACM DRIVER HIRE LTD"
              },
              {
                text: "01210067"
              },
              {
                text:"31 Dec 1987"
              },
              {
                text:"12 Oct 2001"
              },
              {
                text:"London"
              },
              {
                text:"SE4"
              }

            ]
          ]
        }) }}

        <p class="govuk-body">Data last updated on 12/10/2021</p>
  </div>
</div>

 


{% endblock %}