{% extends "layout.html" %}

{% block pageTitle %}
  Dissolved company search
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Dissolved company search
      </h1>
      <p class="govuk-body">
        Companies dissolved between 1/1/1989 and 31/12/2009.
      </p>
      
        {{ govukInput({
          label: {
            text: "Company name"
          },
          id: "company-name",
          name: "company-name",
          classes: "govuk-!-width-full"
        }) }}

  
           

        {{ govukButton({
          text: "Search",
          href:"../search/dissolved-records-no-previous-names"
        }) }}

    </div>
  </div>

{% endblock %}