
{% extends "layout.html" %}

{% block pageTitle %}
  Advanced company search - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">
        Advanced company search
      </h1>

      <p> <a href="#" class="govuk-link">Advanced company search</a></p>

      <p class="govuk-body">Search criteria:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>company name contains </li>
        <li>location using one input box</li>
        <li>status</li>
        <li>company types</li>
        <li>companies incorporated</li>
        <li>companies dissolved</li>
        <li>nature of business</li>
      </ul>

      <p class="govuk-body">Features:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>download as CSV</li>
        <li>toggle table and list view</li>
      </ul>



      <p class="govuk-body"> <a class="govuk-link" href="../search/releases/advanced-search" target="_blank"> View advanced company search prototype </a></p>


      <p class="govuk-body"> <a class="govuk-link" href="../search/releases/advanced-search-results" target="_blank"> Search results shown on separate page </a></p> 

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        Scrollable company status and type component
      </h2>

      <p class="govuk-body"> <a class="govuk-link" href="../search/releases/advanced-search-scrollable" target="_blank"> View scrollable component</a> </p>

      <p class="govuk-body"> <a class="govuk-link" href="../search/releases/advanced-search-scrollable-full-options" target="_blank"> View scrollable component - with full options</a> </p>


      

      <p class="govuk-body">Todos:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>add number selector </li>
        <li>select all functionality - underline </li>
        <li>scrollbar to be visable permanently</li>
        <li>review spacing between and at the top of filters and results</li>
        <li>review all variations on CHS for content displayed - dissolved etc</li>
        <li>What would full companies details summary look like - including SIC code etc</li>
        <li>Results page, no results</li>
        <li>Should company name, registered office address remain open, with others closed?</li>
        <li>Summary of the search criteria at the top of the results table. Text based, and JS based. </li>
      </ul>



      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">




    <!---  


    <h1 class="govuk-heading-l">Advanced company search with location seperated</h1>  

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> -->

    





  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">
        Previous versions of Enhanced search
        </h1>

      <p class="govuk-body">
        Design ideas for enhanced search that explore enabling the user to search using seperate inputs. 
      </p>

      <h2 class="govuk-heading-s">Full page</h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="../search/enhanced-search-non-JS" target="_blank">Full page search (opens in a new tab)</a>
        </li>
      </ul>

      <h2 class="govuk-heading-s">Full page collapsable</h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="../search/enhanced-search-collapsable" target="_blank">Search options are all expanded (opens in a new tab)</a>
        </li>
      </ul>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-s">One-third collapsable</h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="../search/enhanced-search-v3" target="_blank">One-third search options - collapsable (opens in a new tab)</a>
        </li>
      </ul>

      <p class="govuk-body">
        Default view, all search options are open. 
      </p>


      <h2 class="govuk-heading-s">One-third fixed view</h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="../search/enhanced-search-v4" target="_blank">One-third search options - fixed view (opens in a new tab)</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      

    </div>
</div>

{% endblock %}
