
{% extends "layout.html" %}

{% block pageTitle %}
  Enhanced search ideas
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Enhanced search
        </h1>

      <p class="govuk-body">
        Design ideas for enhanced search that explore enabling the user to search using seperate inputs. 
      </p>

      <h2 class="govuk-heading-m">Full page</h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="../search/enhanced-search-non-js" target="_blank">Full page search (opens in a new tab)</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Full page collapsable</h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="../search/enhanced-search-collapsable" target="_blank">Search options are all expanded (opens in a new tab)</a>
        </li>
      </ul>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">One-third collapsable</h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="../search/enhanced-search-v3" target="_blank">One-third search options - collapsable (opens in a new tab)</a>
        </li>
      </ul>

      <p class="govuk-body">
        Default view, all search options are open. 
      </p>


      <h2 class="govuk-heading-m">One-third fixed view</h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="../search/enhanced-search-v4" target="_blank">One-third search options - fixed view (opens in a new tab)</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



      <h2 class="govuk-heading-m">Search results two-thirds of the page</h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="../search/enhanced-search-v5" target="_blank">*Table of results shown on two-thirds of the page* (opens in a new tab)</a>
        </li>

        <li>
          <a class="govuk-link" href="../search/enhanced-search-v5" target="_blank">*List of results shown on two-thirds of the page* (opens in a new tab)</a>
        </li>

      </ul>

      

    </div>
</div>

{% endblock %}
