
{% extends "layout.html" %}

{% block pageTitle %}
  Enhanced search ideas
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Advanced search releases
      </h1>

      <h2 class="govuk-heading-m">Release 1 - Company name and location</h2>

      <p class="govuk-body">Summary:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>company name contains </li>
        <li>location using one input box</li>
      </ul>

      <a class="govuk-link" href="../search/releases/advanced-search" target="_blank"> View advanced search prototype </a>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <h2 class="govuk-heading-m">Release 2 - Full location search included</h2>

      <p class="govuk-body">Summary:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>company name contains </li>
        <li>location using one input box</li>
      </ul>

      <a class="govuk-link" href="../search/releases/company-name-location" target="_blank"> Search by company name and location </a>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    



      

    </div>
</div>

{% endblock %}
