{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

  <main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/account_login_bar.html" %}
    <div class="grid-row">
      <div class="column-full">
        <h1 class="heading-xlarge service-name">
          Search the register
        </h1>
        <form action="" method="post">
          <div class="form-group">
            <p>
              <label for="searchField">Enter a company name, number or officer name</label>
            </p>
            <div class="search-bar">
              <input type="text" name="" class="search-field" value="Start here&hellip;" id="searchField"/>
              <input type="submit" name="" class="search-button" value="Search"/>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-third">
        <h2 class="heading-medium">Current features</h2>
        <ul class="list-bullet">
          <li>Company overviews and officers</li>
          <li>Document images</li>
          <li>Disqualified directors</li>
          <li>Follow companies
            <sup class="label orange small floating">New</sup>
          </li>
          <li>Change registered office address</li>
        </ul>
      </div>
      <div class="column-third">
        <h2 class="heading-medium">Planned features</h2>
        <ul class="list-bullet">
          <li>Abridged accounts</li>
          <li>
            <a href="/help/other-filings" class="link">Other document filings</a>
          </li>
        </ul>
      </div>
      <div class="column-third">
        <h2 class="heading-medium">Other useful features</h2>
        <ul class="list-bullet">
          <li>
            <a href="/feature/name-check/search" class="link" target="blank">Company name availability checker</a>
            <sup class="label orange small floating">New</sup>
          </li>
        </ul>
      </div>
    </div>
  </main>

{% endblock %}
