{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

  <main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/login_bar.html" %}
    {% include "includes/search-bar.html" %}
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">LLOYDS BANK PLC</h1>
        <div class="data-group">
          <span id="key-company-number">Company number</span>
          <span class="data-value" aria-labelledby="key-company-number">00002065</span>
        </div>
      </div>
      <div class="column-one-third primary-actions">
        <a href="/feature/follow-company" class="button" role="button" title="">Follow this company</a>
        <br/>
        <a href="/filing" class="link" title="">File for this company</a>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-full">
        <nav class="tab-bar content sub-nav">
          <ul role="naviagtion">
            <li>
              <a href="/company/profile">
                <span id="company-overview">Overview</span>
              </a>
            </li>
            <li>
              <a href="/company/filing-history">
                <span id="company-filing-history">Filing history</span>
              </a>
            </li>
            <li>
              <a href="/company/people/officers">
                <span id="company-people">People</span>
              </a>
            </li>
            <li class="active">
              <a href="/company/charges/list">
                <span id="company-charges">Charges</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <section aria-labelledby="company-charges">
      <div class="grid-row">
        <div class="column-full content-back-link">
          <a href="/company/charges/list" class="link-back" title="">Back to charges</a>
        </div>
        <div class="column-full">
          <div class="data-group">
            <span class="data-key" id="key-chargecode">Charge code</span>
            <span class="data-value" aria-labelledy="key-chargecode">
              <h2 class="heading-large no-margin">
                0000&nbsp;2065&nbsp;1235
              </h2>
            </span>
          </div>
        </div>
      </div>
      <div class="grid-row">
        <div class="column-third">
          <div class="data-group">
            <span class="data-key" id="key-created">Created on</span>
            <span class="data-value" aria-labelledby="key-created">21 March 2013</span>
          </div>
        </div>
        <div class="column-third">
          <div class="data-group">
            <span class="data-key" id="key-delivered">Delivered on</span>
            <span class="data-value" aria-labelledby="key-delivered">22 March 2013</span>
          </div>
        </div>
        <div class="column-third">
          <div class="data-group">
            <span class="data-key" id="key-status">Status</span>
            <span class="data-value" aria-labelledby="key-status">Outstanding</span>
          </div>
        </div>
      </div>
      <div class="grid-row">
        <div class="column-full">
          <h3 class="heading-medium">Filing details</h3>
          <table class="condensed">
            <thead>
              <tr>
                <th scope="row">Type</th>
                <td>Registration of a charge (MR01)</td>
                <td>
                  <a href="" class="link" title="View the original filing for this charge">View filing (3 Pages, PDF)</a>
                </td>
              </tr>
              <tr>
                <th scope="row">Persons entitled</th>
                <td colspan="2">Pentworth Securities And Funds Limited</td>
              </tr>
              <tr>
                <th scope="row">Brief description</th>
                <td colspan="2">Contains a fixed charge</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
