{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Find a company by name
      </h1>
      <p class="govuk-body">
        Search the register and get alphabetical results
      </p>
      <form action="search-results-exact" method="POST">
        {{ govukInput({
          label: {
            text: "Company name"
          },
          id: "company-name",
          name: "company-name"
        }) }}
        {{ govukButton({
          text: "Search"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}