{% extends "layout.html" %}

{% block pageTitle %}
  Companies House enhanced search
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="https://beta.companieshouse.gov.uk/">Back to Companies House service</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">

        <h1 class="govuk-heading-l">Enhanced search</h1>


        {{ govukInput({
          label: {
            text: "Company name",
            classes: "govuk-body govuk-!-font-weight-bold"
          },
          id: "contains-company-name",
          name: "contains-company-name"
        }) }}


        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "previous-name",
          name: "previous-name",
          classes: "govuk-checkboxes--small",
          fieldset: {
            legend: {
              text: "",
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "previous-names",
              text: "Include previous company names",
              classes:"accordion-label"
            }
          ]
        }) }}

      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Location
            </h1>
          </legend>
          <div class="govuk-form-group">
              <label class="accordion-label" for="address-line-1">
                Building and street
              </label>
              
              <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1"></div>

              <div class="govuk-form-group">
               <label class="accordion-label" for="address-town">
                 Town or city
                  </label>
                
                <input class="govuk-input" id="address-town" name="address-town" type="text" autocomplete="address-level2">
              </div>

              <div class="govuk-form-group">
                <label class="accordion-label" for="address-county">
                 County
                </label>
                        
                <select class="location" style="border: 20px; width: 100%" multiple="multiple">
                   <option value="eng">Powys</option>
                     <option value="irl">Swansea</option>
                     <option value="scot">Cardiff</option>
                    <option value="wal">Newport</option>
                     </select>
                </div>

                <div class="govuk-form-group">
                  <label class="accordion-label" for="address-postcode">
                    Postcode
                     </label>
                  <input class="govuk-input" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code"></div>

        </fieldset>

        </div>
      </div>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

            {{ govukCheckboxes({
              idPrefix: "company-status",
              name: "company-status",
              classes: "govuk-checkboxes--small",
              fieldset: {
                legend: {
                  text: "Company status",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
               {
                  value: "all-companies",
                  text: "All companies"
                },
                {
                  value: "active",
                  text: "Active"
                },
                {
                  value: "dissolved",
                  text: "Dissolved"
                },
                {
                  value: "liquidation",
                  text: "Liquidation"
                }
              ]
            }) }}
          </div>
        </div>

      
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">

        <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h1 class="govuk-fieldset__heading">
                    Companies incorporated
                  </h1>
                </legend>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                            <h1 class="govuk-label-wrapper"><label class="accordion-label govuk-label--s" for="incorporation-date-from">
                                From
                              </label>
                            </h1>
                            <div id="incorporation-date-from-hint" class="accordion-hint">
                              For example, 2007 or 27/3/2007
                            </div>
                            <input class="govuk-input govuk-input--width-10" id="incorporation-date-from" name="incorporation-date-from" type="text" spellcheck="false" aria-describedby="incorporation-date-hint" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>

                        <div class="govuk-grid-column-one-half">

                          <div class="govuk-form-group">
                            <h1 class="govuk-label-wrapper"><label class="accordion-label govuk-label--s" for="incorporation-date-to">
                                To
                              </label>
                            </h1>
                            <div id="incorporation-date-to-hint" class="accordion-hint">
                              For example, 2007 or 27/3/2007
                            </div>
                            <input class="govuk-input govuk-input--width-10" id="incorporation-date-to" name="incorporation-date-to" type="text" spellcheck="false" aria-describedby="incorporation-date-to-hint" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>
          </div>
        </fieldset>
      </div>
    </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">

        <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h1 class="govuk-fieldset__heading">
                    Companies dissolved
                  </h1>
                </legend>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                            <h1 class="govuk-label-wrapper"><label class="accordion-label govuk-label--s" for="incorporation-date-from">
                                From
                              </label>
                            </h1>
                            <div id="incorporation-date-from-hint" class="accordion-hint">
                              For example, 2007 or 27/3/2007
                            </div>
                            <input class="govuk-input govuk-input--width-10" id="incorporation-date-from" name="incorporation-date-from" type="text" spellcheck="false" aria-describedby="incorporation-date-hint" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>

                        <div class="govuk-grid-column-one-half">

                          <div class="govuk-form-group">
                            <h1 class="govuk-label-wrapper"><label class="accordion-label govuk-label--s" for="incorporation-date-to">
                                To
                              </label>
                            </h1>
                            <div id="incorporation-date-to-hint" class="accordion-hint">
                              For example, 2007 or 27/3/2007
                            </div>
                            <input class="govuk-input govuk-input--width-10" id="incorporation-date-to" name="incorporation-date-to" type="text" spellcheck="false" aria-describedby="incorporation-date-to-hint" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>
          </div>
        </fieldset>
      </div>
    </div>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">

      {{ govukInput({
        label: {
          text: "SIC codes",
          classes: "govuk-label--s"
        },
        classes: "govuk-!-width-two-thirds",
        hint: {
          text: "For example, a manufacture of motor vehicles has the SIC (Standard Industrial Classification) code 29100.",
          classes:"accordion-hint"
        },
        id: "location",
        name: "location"
      }) }}

    </div>
  </div>

  

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      {{ govukButton({
          text: "Search"
      }) }}

  </div>
</div>
{% endblock %}
