{% extends "layout.html" %}

{% block pageTitle %}
  Dissolved company search
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Return to Companies House service"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <form action="/dissolved-search" method="post" novalidate>


        {{ govukFieldset({
          legend: {
            text: "Search for a dissolved company",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) }}

            <p class="govuk-body-l govuk-!-padding-top-4">Search by name for companies dissolved between 1/1/1989 and 31/12/2009. </p>

            {{ govukInput({
                label: {
                  text: "Company name",
                  classes: "govuk-!-font-weight-regular"
                },
                id: "company-name",
                name: "company-name",
                classes: "govuk-!-width-three-quarters"
            }) }}



             {{ govukCheckboxes({
              idPrefix: "alpha-display",
              name: "alpha-display",
              classes: "govuk-!-margin-top-5 govuk-!-margin-bottom-5",
              items: [
                {
                  value: "alphabetically",
                  text: "Show results alphabetically",
                  hint:{
                    text:"Previous names not currently available for Alphabetical search"
                  }
                }
              ]
            }) }}

            {{ govukButton({
              text: "Search",
              href:"./dissolved-records-no-previous-names"
            }) }}


          </form>
        </div>
    </div>
{% endblock %}
