{% extends "layout.html" %}

{% block pageTitle %}
  Dissolved company search
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Return to Companies House service"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <form action="/r1-2/dissolved-search" method="post" novalidate>

        {% if errorCompanyName == true or errorPreviousNameAndAlpha == true %}

          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
          }) }}

        {% endif %}

       
        {{ govukFieldset({
          legend: {
            text: "Search for a dissolved company",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) }}

            <p class="govuk-body-l govuk-!-padding-top-4">Search by name for companies dissolved between 1/1/1989 and 31/12/2009. </p>

            {% if errorCompanyName  == true %}

            {{ govukInput({
                label: {
                  text: "Company name",
                  classes: "govuk-!-font-weight-regular"
                },
                errorMessage: {
                  text: "Enter a company name"
                },
                id: "company-name",
                name: "company-name",
                classes: "govuk-!-width-three-quarters"
            }) }}

            {% else %}

            {{ govukInput({
                label: {
                  text: "Company name",
                  classes: "govuk-!-font-weight-regular"
                },
                id: "company-name",
                name: "company-name",
                classes: "govuk-!-width-three-quarters"
            }) }}

            {% endif %}




            {{ govukCheckboxes({
              idPrefix: "alpha-display",
              name: "alpha-display",
              classes: "govuk-!-margin-top-5 govuk-!-margin-bottom-5 govuk-checkboxes--small",
              items: [
                {
                  value: "alphabetically",
                  text: "Show results alphabetically",
                   hint:{
                    text:"Previous names not currently available for Alphabetical search"
                  }
                }
              ]
            }) }}


            <div class="govuk-grid-row">
              <div class="govuk-grid-column-three-quarters">
                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-5">
              </div>
            </div>

            {% if errorSelectName  == true %}

            {{ govukRadios({
              classes: "govuk-radios govuk-!",
              idPrefix: "select-name",
              name: "select-name",
              fieldset: {
                legend: {
                  text: "Which company names do you want to search?"
                }
              },
              errorMessage: {
                  text: "Select which company name you want to search"
              },
              items: [
                {
                  value: "dissolution",
                  text: "Company name when they were dissolved"
                },
                {
                  value: "previous",
                  text: "Previous company names"
                }
              ]
            }) }}

            {% elseif errorPreviousNameAndAlpha  == true %}

            {{ govukRadios({
              classes: "govuk-radios govuk-!",
              idPrefix: "select-name",
              name: "select-name",
              fieldset: {
                legend: {
                  text: "Which company names do you want to search?"
                }
              },
              errorMessage: {
                  text: "Select company name when they were dissolved. Previous company names is not currently available for alphabetical search."
              },
              items: [
                {
                  value: "dissolution",
                  text: "Company name when they were dissolved"
                },
                {
                  value: "previous",
                  text: "Previous company names"
                }
              ]
            }) }}

            {% else %}

            {{ govukRadios({
              classes: "govuk-radios govuk-!",
              idPrefix: "select-name",
              name: "select-name",
              fieldset: {
                legend: {
                  text: "Which company names do you want to search?"
                }
              },
              items: [
                {
                  value: "dissolution",
                  text: "Company name when they were dissolved"
                },
                {
                  value: "previous",
                  text: "Previous company names"
                }
              ]
            }) }}

            {% endif %}


            {{ govukButton({
              text: "Search",
              classes: "govuk-!-margin-top-5"
            }) }}


          </form>
        </div>
    </div>
{% endblock %}
