{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

  <main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/login_bar.html" %}
    <div class="grid-row">
      <div class="column-full">
        <h1 class="heading-xlarge">
          Register of disqualifications
        </h1>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-full">
        <nav class="tab-bar alpha">
          <ul role="navigation">
            <li>
              <a href="/feature/disqualifications/browse" title="A">A</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="B">B</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="C">C</a>
            </li>
            <li class="active">
              <a href="/feature/disqualifications/browse" title="D">D</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="E">E</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="F">F</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="G">G</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="H">H</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="I">I</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="J">J</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="K">K</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="L">L</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="M">M</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="N">N</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="O">O</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="P">P</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="Q">Q</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="R">R</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="S">S</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="T">T</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="U">U</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="V">V</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="W">W</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="X">X</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="Y">Y</a>
            </li>
            <li>
              <a href="/feature/disqualifications/browse" title="Z">Z</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-full">
        <section class="results-group">
          <table class="condensed">
            <thead>
              <tr>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Post town</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="/disqualified/profile" class="link" title="">David Gregory ALLSWAY</a>
                </td>
                <td>28 August 1967</td>
                <td>Tunbridge Wells</td>
              </tr>
              <tr>
                <td>
                  <a href="/disqualified/profile" class="link" title="">David Gregory ALLSWAY</a>
                </td>
                <td>28 August 1967</td>
                <td>Tunbridge Wells</td>
              </tr>
              <tr>
                <td>
                  <a href="/disqualified/profile" class="link" title="">David Gregory ALLSWAY</a>
                </td>
                <td>28 August 1967</td>
                <td>Tunbridge Wells</td>
              </tr>
              <tr>
                <td>
                  <a href="/disqualified/profile" class="link" title="">David Gregory ALLSWAY</a>
                </td>
                <td>28 August 1967</td>
                <td>Tunbridge Wells</td>
              </tr>
              <tr>
                <td>
                  <a href="/disqualified/profile" class="link" title="">David Gregory ALLSWAY</a>
                </td>
                <td>28 August 1967</td>
                <td>Tunbridge Wells</td>
              </tr>
              <tr>
                <td>
                  <a href="/disqualified/profile" class="link" title="">David Gregory ALLSWAY</a>
                </td>
                <td>28 August 1967</td>
                <td>Tunbridge Wells</td>
              </tr>
            </tbody>
          </table>
          {% include "includes/pagination.html" %}
        </section>
      </div>
    </div>
  </main>

{% endblock %}
