{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

  <main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/login_bar_alt.html" %}
    <div class="grid-row">
      <div class="column-full content-back-link">
        <a href="/account/my-filings" class="link-back" title="">Back to my filings</a>
      </div>
      <div class="column-full">
        <h1 class="heading-xlarge">
          CARDIFF FENCING LIMITED
        </h1>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-full">
        <section aria-labelledby="company-filing-history">
          <div class="grid-row" style="display: none;">
            <section class="filters" id="filters">
              <form action="" method="post">
                <div class="column-quarter">
                  <div role="widget" class="filter open">
                    <div class="filters-heading" role="button" aria-controls="filter-category" aria-expanded="false" tabindex="0">
                      <span id="filter-label-category">
                        <span class="visuallyhidden">Filter by
                        </span>Category</span>
                      <div class="toggle"></div>
                    </div>
                    <fieldset id="filter-category" class="filters-wrapper" aria-hidden="true" aria-labelledby="filter-label-category">
                      <legend class="visuallyhidden">What filing categories do you want to see?</legend>
                      <div class="multiple-choice">
                        <input id="category-accounts" name="filterCategory" type="checkbox" value="accounts">
                        <label for="category-accounts">Accounts</label>
                      </div>
                      <div class="multiple-choice">
                        <input id="category-capital" name="filterCategory" type="checkbox" value="capital">
                        <label for="category-capital">Capital</label>
                      </div>
                      <div class="multiple-choice">
                        <input id="category-charges" name="filterCategory" type="checkbox" value="charges">
                        <label for="category-charges">Charges</label>
                      </div>
                      <div class="multiple-choice">
                        <input id="category-returns" name="filterCategory" type="checkbox" value="returns">
                        <label for="category-returns">Confirmation Statements and Annual Returns</label>
                      </div>
                      <div class="multiple-choice">
                        <input id="category-inc" name="filterCategory" type="checkbox" value="inc">
                        <label for="category-inc">Incorporation</label>
                      </div>
                      <div class="multiple-choice">
                        <input id="category-officers" name="filterCategory" type="checkbox" value="officers">
                        <label for="category-officers">Officers</label>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="column-quarter">
                  <div role="widget" class="filter open">
                    <div class="filters-heading" role="button" aria-controls="filter-category" aria-expanded="false" tabindex="0">
                      <span id="filter-label-category">
                        <span class="visuallyhidden">Filter by
                        </span>Category</span>
                      <div class="toggle"></div>
                    </div>
                    <fieldset id="filter-category" class="filters-wrapper" aria-hidden="true" aria-labelledby="filter-label-category">
                      <legend class="visuallyhidden">What filing categories do you want to see?</legend>
                      <div class="multiple-choice">
                        <input id="category-accounts" name="filterCategory" type="checkbox" value="accounts">
                        <label for="category-accounts">Accounts</label>
                      </div>
                      <div class="multiple-choice">
                        <input id="category-capital" name="filterCategory" type="checkbox" value="capital">
                        <label for="category-capital">Capital</label>
                      </div>
                      <div class="multiple-choice">
                        <input id="category-charges" name="filterCategory" type="checkbox" value="charges">
                        <label for="category-charges">Charges</label>
                      </div>
                      <div class="multiple-choice">
                        <input id="category-returns" name="filterCategory" type="checkbox" value="returns">
                        <label for="category-returns">Confirmation Statements and Annual Returns</label>
                      </div>
                      <div class="multiple-choice">
                        <input id="category-inc" name="filterCategory" type="checkbox" value="inc">
                        <label for="category-inc">Incorporation</label>
                      </div>
                      <div class="multiple-choice">
                        <input id="category-officers" name="filterCategory" type="checkbox" value="officers">
                        <label for="category-officers">Officers</label>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="column-half">
                  <div role="widget" class="filter open">
                    <div class="filters-heading" role="button" aria-controls="filter-category" aria-expanded="false" tabindex="0">
                      <span id="filter-label-category">
                        <span class="visuallyhidden">Filter by
                        </span>Category</span>
                      <div class="toggle"></div>
                    </div>
                    <fieldset id="filter-category" class="filters-wrapper" aria-hidden="true" aria-labelledby="filter-label-category">
                      <legend class="visuallyhidden">What filing categories do you want to see?</legend>
                      <div class="multiple-choice">
                        <input id="category-accounts" name="filterCategory" type="checkbox" value="accounts">
                        <label for="category-accounts">Accounts</label>
                      </div>
                      <div class="multiple-choice">
                        <input id="category-capital" name="filterCategory" type="checkbox" value="capital">
                        <label for="category-capital">Capital</label>
                      </div>
                      <div class="multiple-choice">
                        <input id="category-charges" name="filterCategory" type="checkbox" value="charges">
                        <label for="category-charges">Charges</label>
                      </div>
                      <div class="multiple-choice">
                        <input id="category-returns" name="filterCategory" type="checkbox" value="returns">
                        <label for="category-returns">Confirmation Statements and Annual Returns</label>
                      </div>
                      <div class="multiple-choice">
                        <input id="category-inc" name="filterCategory" type="checkbox" value="inc">
                        <label for="category-inc">Incorporation</label>
                      </div>
                      <div class="multiple-choice">
                        <input id="category-officers" name="filterCategory" type="checkbox" value="officers">
                        <label for="category-officers">Officers</label>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </form>
            </section>
          </div>
          <div class="grid-row">
            <div class="column-full">
              <section aria-labelledby="company-charges">
                <div class="grid-row">
                  <div class="column-full">
                    <div class="data-group">
                      <span class="data-key" id="key-chargecode">Charge code</span>
                      <span class="data-value" aria-labelledy="key-chargecode">
                        <h2 class="heading-large no-margin">
                          0000&nbsp;2065&nbsp;1235
                        </h2>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="grid-row">
                  <div class="column-third">
                    <div class="data-group">
                      <span class="data-key" id="key-created">Description</span>
                      <span class="data-value" aria-labelledby="key-created">21 March 2013</span>
                    </div>
                  </div>
                  <div class="column-third">
                    <div class="data-group">
                      <span class="data-key" id="key-delivered">Reference Number</span>
                      <span class="data-value" aria-labelledby="key-delivered">22 March 2013</span>
                    </div>
                  </div>
                  <div class="column-third">
                    <div class="data-group">
                      <span class="data-key" id="key-status">Status</span>
                      <span class="data-value" aria-labelledby="key-status">Received (15 April 2016 at 10.45am)</span>
                    </div>
                  </div>
                </div>
                <div class="grid-row">
                  <div class="column-full">
                    <h3 class="heading-medium">Submissions</h3>
                    <table class="condensed">
                      <thead>
                        <tr>
                          <th scope="col">Type</th>
                          <th scope="col">Submission Number</th>
                          <th scope="col">Status</th>
                          <th scope="col">Actions</th>
                        </tr>
                        <tr>
                          <td>Abridged accounts</td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>

{% endblock %}
