{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

  <main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/login_bar.html" %}
    <div class="grid-row">
      <div class="column-full">
        <h1 class="heading-xlarge">
          Company name availability checker
        </h1>
        <form action="" method="post">
          <div class="form-group">
            <p>
              <label for="searchField">Enter the company name you want to check for availability</label>
            </p>
            <div class="search-bar">
              <input type="text" name="" class="search-field" value="Search" id="searchField"/>
              <input type="submit" name="" class="search-button" value="Search"/>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="panel panel-border">
          <p>The company name &quot;KIRK&quot; is considered to be the &lsquo;same as&rsquo; the existing names shown below:</p>
        </div>

        <section class="results-group">
          <ul>
            <li>
              <h3>
                KIRK LIMITED
              </h3>
              <div class="subline company">
                <span class="number">09253970</span>
                &ndash; Incorporated on 20 April 1865
              </div>
            </li>
            <li>
              <h3>
                KIRK &amp; COMPANY LTD
              </h3>
              <div class="subline company">
                <span class="number">09998543</span>
                &ndash; Incorporated on 20 April 1865
              </div>
            </li>
            <li>
              <h3>
                KIRKUK (UK) LTD
              </h3>
              <div class="subline company">
                <span class="number">00562945</span>
                &ndash; Incorporated on 20 April 1865
              </div>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </main>

{% endblock %}
