{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

  <main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/login_bar.html" %}
    {% include "includes/search-bar.html" %}
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">LLOYDS BANK PLC</h1>
        <div class="data-group">
          <span id="key-company-number">Company number</span>
          <span class="data-value" aria-labelledby="key-company-number">00002065</span>
        </div>
      </div>
      <div class="column-one-third primary-actions">
        <a href="/feature/follow-company" class="button" role="button" title="">Follow this company</a>
        <br/>
        <a href="/filing" class="link" title="">File for this company</a>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-full">
        <nav class="tab-bar content">
          <ul role="naviagtion">
            <li>
              <a href="/company/profile">
                <span id="company-overview">Overview</span>
              </a>
            </li>
            <li class="active">
              <a href="/company/filing-history">
                <span id="company-filing-history">Filing history</span>
              </a>
            </li>
            <li>
              <a href="/company/people/officers">
                <span id="company-people">People</span>
              </a>
            </li>
            <li>
              <a href="/company/charges/list">
                <span id="company-charges">Charges</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <section aria-labelledby="company-filing-history">
      <div class="grid-row">
        <div class="column-third">
          <p class="info filter-label">Filter filings</p>
          <section class="filters" id="filters">
            <form action="" method="post">
              <div role="widget" class="filter open">
                <div class="filters-heading" role="button" aria-controls="filter-category" aria-expanded="false" tabindex="0">
                  <span id="filter-label-category">
                    <span class="visuallyhidden">Filter by
                    </span>Category</span>
                  <div class="toggle"></div>
                </div>
                <fieldset id="filter-category" class="filters-wrapper" aria-hidden="true" aria-labelledby="filter-label-category">
                  <legend class="visuallyhidden">What filing categories do you want to see?</legend>
                  <div class="multiple-choice">
                    <input id="category-accounts" name="filterCategory" type="checkbox" value="accounts">
                    <label for="category-accounts">Accounts</label>
                  </div>
                  <div class="multiple-choice">
                    <input id="category-capital" name="filterCategory" type="checkbox" value="capital">
                    <label for="category-capital">Capital</label>
                  </div>
                  <div class="multiple-choice">
                    <input id="category-charges" name="filterCategory" type="checkbox" value="charges">
                    <label for="category-charges">Charges</label>
                  </div>
                  <div class="multiple-choice">
                    <input id="category-returns" name="filterCategory" type="checkbox" value="returns">
                    <label for="category-returns">Confirmation Statements and Annual Returns</label>
                  </div>
                  <div class="multiple-choice">
                    <input id="category-inc" name="filterCategory" type="checkbox" value="inc">
                    <label for="category-inc">Incorporation</label>
                  </div>
                  <div class="multiple-choice">
                    <input id="category-officers" name="filterCategory" type="checkbox" value="officers">
                    <label for="category-officers">Officers</label>
                  </div>
                </fieldset>
              </div>
              <div role="widget" class="filter">
                <div class="filters-heading" role="button" aria-controls="filter-type" aria-expanded="false" tabindex="0">
                  <span id="filter-label-type">
                    <span class="visuallyhidden">Filter by
                    </span>Type</span>
                  <div class="toggle"></div>
                </div>
                <fieldset id="filter-type" class="filters-wrapper" aria-hidden="true" aria-labelledby="filter-label-type">
                  <legend class="visuallyhidden">Select to see filing codes?</legend>
                  <div class="multiple-choice">
                    <input id="type-show" name="filterType" type="checkbox" value="show" class="show-filing-type">
                    <label for="type-show">Show filing type</label>
                  </div>
                </fieldset>
              </div>
            </form>
          </section>
          <p>
            <a href="" class="filter-expand" aria-hidden="true">Open all filters</a>
          </p>
          <p>
            <a href="" role="button" class="link filter-reset" title="Clear filters to see all officers" aria-controls="filters">Reset filters</a>
          </p>
        </div>
        <div class="column-two-thirds">
          <section aria-labelledby="company-filing-history">
            <div class="grid-row">
              <div class="column-full">
                <p class="info result-count" id="result-count" aria-live="assertive">&nbsp;</p>
              </div>
              <div class="grid-row">
                <div class="column-full">
                  <div class="results-group">
                    <span class="visuallyhidden">Filings list</span>
                    <table class="condensed company-filings">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th class="filing-type">Type</th>
                          <th>Description</th>
                          <th>View / Download</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="no-wrap">14 March 2017</td>
                          <td class="filing-type">SH02</td>
                          <td>
                            <span class="title">Statement of capital</span>
                            on 24&nbsp;February&nbsp;2017<br/>
                            GBP1,574,285,851
                          </td>
                          <td class="no-wrap">
                            <a href="" class="link" title="">View PDF</a>
                            (6 pages)
                          </td>
                        </tr>
                        <tr>
                          <td class="no-wrap">10 March 2017</td>
                          <td class="filing-type">CERT21</td>
                          <td>
                            <span class="title">Certificate of cancellation</span>
                            of share premium account
                          </td>
                          <td class="no-wrap">
                            <a href="" class="link" title="">View PDF</a>
                            (6 pages)
                          </td>
                        </tr>
                        <tr>
                          <td class="no-wrap">1 February 2017</td>
                          <td class="filing-type">MR01</td>
                          <td>
                            <span class="title">Registration of charge</span>
                            000020650053, created on 24&nbsp;June&nbsp;2016
                          </td>
                          <td class="no-wrap">
                            <a href="" class="link" title="">View PDF</a>
                            (6 pages)
                          </td>
                        </tr>
                        <tr>
                          <td class="no-wrap">19 January 2017</td>
                          <td class="filing-type">RESOLUTIONS</td>
                          <td>
                            Resolutions
                            <ul class="list list-bullet">
                              <li>
                                <span class="title">Resolution of allotment of securities</span>
                              </li>
                              <li>
                                <span class="title">Resolution of removal of pre-emption rights</span>
                              </li>
                            </ul>
                          </td>
                          <td class="no-wrap">
                            <a href="" class="link" title="">View PDF</a>
                            (6 pages)
                          </td>
                        </tr>
                        <tr>
                          <td class="no-wrap">19 January 2017</td>
                          <td class="filing-type">AP01</td>
                          <td>
                            <span class="title">Appointment</span>
                            of Mrs Sara Vivienne Weller as a director on 1&nbsp;February&nbsp;2012
                          </td>
                          <td class="no-wrap">
                            <a href="" class="link" title="">View PDF</a>
                            (6 pages)
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    {% include "includes/pagination.html" %}
                  </div>
                </div>
              </section>
            </div>
          </div>
        </section>
      </main>

    {% endblock %}