
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/order-a-document/delivery-time"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  idPrefix: "delivery",
  name: "delivery",
  fieldset: {
    legend: {
      text: "How would you like to receive the certifcate for Filings LTD?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [

    {
      value: "collect",
      text: "Collect from Companies House office",
      hint: {
      text: "including Belfast, Cardiff, Edinburgh and London"
    }
    },
    {
      value: "email",
      text: "Email"
    },
    {
      value: "post",
      text: "Post"
    }
    
  ]
}) }}

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({

     text: "Continue",
     href: "/order-a-document/contact-details-collect"

    }) }}
</div>
</div>
{% endblock %}
