
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/filing-history"
  }) }}
{% endblock %}

{% block content %}

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      idPrefix: "delivery-method",
      name: "delivery-method",
      fieldset: {
        legend: {
          text: "Do you need any additional copies of the certificate?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes" 
        },
        {
          value: "no",
          text: "No"
        }

      ]
    }) }}

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({

     text: "Continue",
     href:"/order-a-document/delivery-method"

    }) }}

{% endblock %}
