{% extends "layout.html" %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/filing-history-document-pending#filing-history"
  }) }}
{% endblock %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}


{% block content %}
  <div class="govuk-grid-row">

      <h1 class="govuk-heading-xl">Additional information</h1>

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  idPrefix: "more-info",
  name: "more-info",
  fieldset: {
    legend: {
      text: "Do you need any more information?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "good-standing",
      text: "Good standing"
    },
    {
      value: "directors",
      text: "Directors"
    },
    {
      value: "company-objects",
      text: "Company objects"
    },
    {
      value: "secretaries",
      text: "Secretaries"
    },
    {
      value: "registered-office",
      text: "Registered office"
    }
  ]
}) }}

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  label: {
    text: "Extra information"
  },
  hint: {
    text: "hint information...."
  }
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  href: "/order-a-document/delivery-extra-copy"
}) }}
      
  </div>
{% endblock %}