{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

  <main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/login_bar_alt.html" %}
    <div class="grid-row">
      <div class="column-full">
        <h1 class="heading-xlarge">
          My companies
        </h1>
      </div>
    </div>
    <section aria-labelledby="company-filing-history">
      <div class="grid-row">
        <div class="column-third">
          <p class="info filter-label">Filter filings</p>
          <section class="filters" id="filters">
            <form action="" method="post">
              <div role="widget" class="filter open">
                <div class="filters-heading" role="button" aria-controls="filter-status" aria-expanded="false" tabindex="0">
                  <span id="filter-label-status">
                    <span class="visuallyhidden">Filter by
                    </span>Status</span>
                  <div class="toggle"></div>
                </div>
                <fieldset id="filter-status" class="filters-wrapper" aria-hidden="true" aria-labelledby="filter-label-status">
                  <legend class="visuallyhidden">What filing categories do you want to see?</legend>
                  <div class="multiple-choice">
                    <input id="status-active" name="filterCategory" type="checkbox" value="active">
                    <label for="status-active">Active</label>
                  </div>
                  <div class="multiple-choice">
                    <input id="status-dissolved" name="filterCategory" type="checkbox" value="dissolved">
                    <label for="status-dissolved">Dissolved</label>
                  </div>
                  <div class="multiple-choice">
                    <input id="status-liquidation" name="filterCategory" type="checkbox" value="liquidation">
                    <label for="status-liquidation">Liquidation</label>
                  </div>
                  <div class="multiple-choice">
                    <input id="status-dormant" name="filterCategory" type="checkbox" value="dormant">
                    <label for="status-dormant">Dormant</label>
                  </div>
                </fieldset>
              </div>
            </form>
          </section>
          <p>
            <a href="" role="button" class="link filter-reset" title="Clear filters to see all officers" aria-controls="filters">Reset filters</a>
          </p>
        </div>
        <div class="column-two-thirds">
          <section aria-labelledby="company-filing-history">
            <div class="grid-row">
              <div class="column-full">
                <p class="info result-count" id="result-count" aria-live="assertive">&nbsp;</div>
              </div>
              <div class="grid-row">
                <div class="column-full">
                  <div class="results-group">
                    <span class="visuallyhidden">Filings list</span>
                    <table class="condensed company-filings">
                      <thead>
                        <tr>
                          <th scope="col">Company</th>
                          <th scope="col">Status</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>JOHN SMITH LIMITED</td>
                          <td>Active</td>
                          <td>
                            <a href="/manage/profile" class="link" title="">Manage</a>
                          </td>
                        </tr>
                        <tr>
                          <td>HYPERBARN TECHNOLOGY LTD</td>
                          <td>Active</td>
                          <td>
                            <a href="/manage/profile" class="link" title="">Manage</a>
                          </td>
                        </tr>
                        <tr>
                          <td>WILMINGTON ESTATES PLC</td>
                          <td>Dissolved</td>
                          <td>
                            <a href="/manage/profile" class="link" title="">Manage</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    {% include "includes/pagination.html" %}
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </main>

{% endblock %}
