{% extends "layout.html" %}

{% set mainClasses = "govuk-main-wrapper--l" %}


{% from "govuk/components/panel/macro.njk" import govukPanel %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Document requested"
      }) }}

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        Companies House will check if the document is available. This may take up to 5 working days.
      </p>
      <p class="govuk-body">
        We’ll add a digital copy to the <a href='/filing-history-document-pending#filing-history' class='govuk-link govuk-link--no-visited-state'>company’s filing history </a> if the document is available. 
      </p>
      
      <form action="/filing-history-document-pending#filing-history" method="post" novalidate>
        {{ govukButton({
          text: "Return to company overview"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}