{% extends "layout.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

{% from "govuk/components/table/macro.njk" import govukTable %}

<h1 class="govuk-heading-xl">Requested documents</h1>

{{ govukTable({
  caption: "",
  head: [
    {
      html: "Requested on"
      
    },
    {
      html: "Company"
    },
    {
      html: "Date filed"
    },
    {
      html: "Type"
    },
    {
      html: "Description"
    },
    {
      html: "Status",
      classes: 'govuk-!-width-one-quarter'
    }
  ],
  rows: [
    [
      {
        text: "04 Dec 2017"
      },
      {
        html:"<a href='' class='govuk-link govuk-link--no-visited-state'>FILINGS LTD</a>"
      },
      {
        text:"TM02"
      },
      {
        text:"Termination of appointment of Secretary Ltd as a secretary on 4 December 2017."
      },
      {
        html: "09 July 2018"
      },
      {
        html:"Checking availability </br></br> An update will appear here by DD Month YYYY"
      }
    ],
     [
      {
        html: "29 Aug 1977"
      },
      {
        html:"<a href='' class='govuk-link govuk-link--no-visited-state'>SCANNING DOCUMENTS LTD</a>"
      },
        {
        html:"CH01"
      },
      {
        html:"Director's details changed for Eduardo Sanchez on 14 August 1997."
      },
      {
        html: "15 April 2017"
      },
      {
        html: " <a href='filing-history#filing-history' class='govuk-link govuk-link--no-visited-state'> View PDF</a> (2 Pages)"
      }
    ],
     [
      {
        html: "04 Dec 2017"
      },
      {
        html:"<a href='' class='govuk-link govuk-link--no-visited-state'>DIGITAL DOCUMENTS</a>"
      },
      {
        html:"TM02"
      },
      {
        html:"Termination of appointment of Secretary Ltd as a secretary on 4 December 2017 (TM02)."
      },
        {
        html: "21 May 2016"
      },
      {
        html:"Document unavailable"
      }
    ]
  ]
}) }}

<form action="/filing-history" method="post" novalidate>

        {{ govukButton({
          text: "Search the register"
        }) }}
      </form>
{% endblock %}