{% extends "layout.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

{% from "govuk/components/table/macro.njk" import govukTable %}

<h1 class="govuk-heading-xl">Requested documents</h1>

{{ govukTable({
  caption: "",
  head: [
    {
      html: "Requested"
    },
    {
      html: "Company"
    },
    {
      html: "Date filed"
    },
    {
      html: "Type"
    },
    {
      html: "Description"
    },
    {
      html: "Status",
      classes: 'govuk-!-width-one-quarter'
    }
  ],
  rows: [
    [
      {
        html:"<p class='govuk-body-s'> <a href='' class='govuk-link govuk-link--no-visited-state'>FILINGS LTD</a></p>"
      },
      {
        html: "<p class='govuk-body-s'>04 Dec 2017</p>"
      },
      {
        html:"<p class='govuk-body-s'>TM02</p>"
      },
      {
        html:"<p class='govuk-body-s'>Termination of appointment of Secretary Ltd as a secretary on 4 December 2017.</p> "
      },
      {
        html: "<p class='govuk-body-s'>09 July 2018</p>"
      },
      {
        html:" <p class='govuk-body-s'>Checking availability </br></br> An update will appear here by DD Month YYYY</p>"
      }
    ],
     [
      {
        html:"<p class='govuk-body-s'><a href='' class='govuk-link govuk-link--no-visited-state'>SCANNING DOCUMENTS LTD</a></p>"
      },
      {
        html: "<p class='govuk-body-s'>29 Aug 1977</p>"
      },
        {
        html:"<p class='govuk-body-s'>CH01</p>"
      },
      {
        html:"<p class='govuk-body-s'>Director's details changed for Eduardo Sanchez on 14 August 1997.</p> "
      },
      {
        html: "<p class='govuk-body-s'>15 April 2017</p>"
      },
      {
        html: "<p class='govuk-body-s'> <a href='filing-history#filing-history' class='govuk-link govuk-link--no-visited-state'> View PDF</a> (2 Pages)</p>"
      }
    ],
     [
      {
        html:"<p class='govuk-body-s'><a href='' class='govuk-link govuk-link--no-visited-state'>DIGITAL DOCUMENTS</a></p>"
      },
      {
        html: "<p class='govuk-body-s'>04 Dec 2017</p>"
      },
      {
        html:"<p class='govuk-body-s'>TM02</p>"
      },
      {
        html:"<p class='govuk-body-s'>Termination of appointment of Secretary Ltd as a secretary on 4 December 2017 (TM02).</p>"
      },
        {
        html: "<p class='govuk-body-s'>21 May 2016</p>"
      },
      {
        html:" <p class='govuk-body-s'>Document unavailable</p>"
      }
    ]
  ]
}) }}

<form action="/filing-history" method="post" novalidate>

        {{ govukButton({
          text: "Search the register"
        }) }}
      </form>
{% endblock %}