{% extends "layout.html" %}

{% block pageTitle %}
  Companies House enhanced search
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="https://beta.companieshouse.gov.uk/">Back to Companies House service</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Companies House enhanced search</h1>

        {{ govukInput({
          label: {
            text: "Search for a company that contains this company name",
            classes: "govuk-body govuk-!-font-weight-bold"
          },
          classes: "govuk-!-width-two-thirds",
          id: "company-name",
          name: "company-name"
        }) }}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          {% call govukFieldset({
            legend: {
              text: "Location",
              classes: "govuk-fieldset__legend--s",
              isPageHeading: true
            }
          }) %}

            {{ govukInput({
              label: {
                html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
              },
              id: "address-line-1",
              name: "address-line-1",
              autocomplete: "address-line1"
            }) }}

            {{ govukInput({
              label: {
                text: "Town or region"
              },
              classes: "govuk-!-width-two-thirds",
              id: "address-region",
              name: "address-region"
            }) }}

            {{ govukInput({
              label: {
                text: "Postcode"
              },
              classes: "govuk-input--width-10",
              id: "address-postcode",
              name: "address-postcode",
              autocomplete: "postal-code"
            }) }}
          {% endcall %}

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">

                {{ govukSelect({
                  id: "sort",
                  name: "sort",
                  label: {
                    text: "Search distance"
                  },
                  items: [
                    {
                      value: "one",
                      text: "1"
                    },
                    {
                      value: "three",
                      text: "3",
                      selected: true
                    },
                    {
                      value: "five",
                      text: "5"
                    },
                    {
                      value: "eight",
                      text: "8"
                    },
                    {
                      value: "ten",
                      text: "10"
                    },
                    {
                      value: "twenty",
                      text: "20"
                    },
                    {
                      value: "fifty",
                      text: "50"
                    }
                  ]
                }) }}
              </div>
              <div class="govuk-grid-column-one-half">
                {{ govukSelect({
                  id: "sort",
                  name: "sort",
                  label: {
                    text: "Distance units"
                  },
                  items: [
                    {
                      value: "miles",
                      text: "Miles",
                      selected: true
                    },
                    {
                      value: "kilometres",
                      text: "Kilometres"
                    },
                    {
                      value: "views",
                      text: "Most views"
                    },
                    {
                      value: "comments",
                      text: "Most comments"
                    }
                  ]
                }) }}
              </div>
            </div>
          </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <h2 class="govuk-heading-m">Company setup between</h2>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              {{ govukDateInput({
                id: "incorporation-start-date",
                namePrefix: "incorporation-start-date",
                fieldset: {
                  legend: {
                    text: "Start date",
                    isPageHeading: true,
                    classes: "govuk-body govuk-!-font-weight-regular"
                  }
                }
              }) }}
            </div>
            <div class="govuk-grid-column-one-half">
              {{ govukDateInput({
                id: "incorporation-end-date",
                namePrefix: "incorporation-end-date",
                fieldset: {
                  legend: {
                    text: "End date",
                    isPageHeading: true,
                    classes: "govuk-body govuk-!-font-weight-regular"
                  }
                }
              }) }}
            </div>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <h2 class="govuk-heading-m">Company closed between</h2>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              {{ govukDateInput({
                id: "dissolution-start-date",
                namePrefix: "dissolution-start-date",
                fieldset: {
                  legend: {
                    text: "Start date",
                    isPageHeading: true,
                    classes: "govuk-body govuk-!-font-weight-regular"
                  }
                }
              }) }}
            </div>
            <div class="govuk-grid-column-one-half">
              {{ govukDateInput({
                id: "dissolution-end-date",
                namePrefix: "dissolution-end-date",
                fieldset: {
                  legend: {
                    text: "End date",
                    isPageHeading: true,
                    classes: "govuk-body govuk-!-font-weight-regular"
                  }
                }
              }) }}
            </div>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {{ govukInput({
        label: {
          text: "Standard Industrial Classification (SIC) codes",
          classes: "govuk-label--s"
        },
        classes: "govuk-!-width-two-thirds",
        hint: {
          text: "For example, a manufacture of motor vehicles has the SIC code 29100."
        },
        id: "location",
        name: "location"
      }) }}

      {{ govukCheckboxes({
        idPrefix: "company-status",
        name: "company-status",
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "Company status'",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "active",
            text: "Active"
          },
          {
            value: "dissolved",
            text: "Dissolved"
          },
          {
            value: "liquidation",
            text: "Liquidation"
          }
        ]
      }) }}
    </div>
  </div>

      <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

            {{ govukCheckboxes({
              idPrefix: "company-types",
              name: "company-types",
              classes: "govuk-checkboxes--small",
              fieldset: {
                legend: {
                  text: "Company types",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "all-company-types",
                  text: "All company types"
                },
                {
                  value: "company-type-public-limitied-company",
                  text: "Public limitied company (PLC)"
                },
                {
                  value: "company-type-limited-by-shares",
                  text: "Private company limited by shares (Ltd, Limited)"
                },
                {
                  value: "company-type-limited-by-guarantee",
                  text: "Private company limited by guarantee"
                },
                {
                  value: "company-type-private-unlimited-company",
                  text: "Private unlimited company"
                },
                {
                  value: "company-type-limited-liability-partnership",
                  text: "Limited liability partnership (LLP)"
                },
                {
                  value: "company-type-limited-partnership",
                  text: "Limited partnership (LP)"
                },
                {
                  value: "company-type-community-interest-company",
                  text: "Community interest company (CIC)"
                },
                {
                  value: "company-type-charitable-incorporated-organisation",
                  text: "Charitable incorporated organisation (CIO)"
                }
              ]
            }) }}
          </div>
        </div>

      {{ govukButton({
          text: "Search"
      }) }}

  </div>
</div>
{% endblock %}
