{% extends "layout.html" %}

{% block pageTitle %}
  Companies House enhanced search
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="https://beta.companieshouse.gov.uk/">Back to Companies House service</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Companies House enhanced search</h1>


        {{ govukInput({
          label: {
            text: "Company name that contains",
            classes: "govuk-body govuk-!-font-weight-bold"
          },
          classes: "govuk-!-width-two-thirds",
          id: "contains-company-name",
          name: "contains-company-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Company name that doesn't contain",
            classes: "govuk-body govuk-!-font-weight-bold"
          },
          classes: "govuk-!-width-two-thirds",
          id: "does-not-contain-company-name",
          name: "does-not-contain-company-name"
        }) }}

      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          {% call govukFieldset({
            legend: {
              text: "Location",
              classes: "govuk-fieldset__legend--s",
              isPageHeading: true
            }
          }) %}

            {{ govukInput({
              label: {
                html: "Enter a building or street"
              },
              id: "address-line-1",
              name: "address-line-1",
              autocomplete: "address-line1"
            }) }}

            {{ govukInput({
              label: {
                text: "Enter a town, postcode or region"
              },
              classes: "govuk-!-width-two-thirds",
              id: "address-town-postcode-region",
              name: "address-town-postcode-region"
            }) }}
          {% endcall %}
        </div>
      </div>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

      
            {{ govukCheckboxes({
              idPrefix: "company-status",
              name: "company-status",
              classes: "govuk-checkboxes--small",
              fieldset: {
                legend: {
                  text: "Company status",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "active",
                  text: "Active"
                },
                {
                  value: "dissolved",
                  text: "Dissolved"
                },
                {
                  value: "liquidation",
                  text: "Liquidation"
                }
              ]
            }) }}
          </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              {{ govukDateInput({
                id: "incorporation-start-date",
                namePrefix: "incorporation-start-date",
                fieldset: {
                  legend: {
                    html: "<p class='govuk-body govuk-!-font-weight-bold'>Company closed after</p>",
                    isPageHeading: true,
                    classes: "govuk-body govuk-!-font-weight-regular"
                  }
                }
              }) }}
            </div>

            <div class="govuk-grid-column-one-half">
              {{ govukDateInput({
                id: "incorporation-end-date",
                namePrefix: "incorporation-end-date",
                fieldset: {
                  legend: {
                    html: "<p class='govuk-body govuk-!-font-weight-bold'>Company incorporated before</p>",
                    isPageHeading: true,
                    classes: "govuk-body govuk-!-font-weight-regular"
                  }
                }
              }) }}
            </div>
          </div>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



      <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              {{ govukDateInput({
                id: "dissolution-start-date",
                namePrefix: "dissolution-start-date",
                fieldset: {
                  legend: {
                    html: "<p class='govuk-body govuk-!-font-weight-bold'>Company closed after</p>",
                    isPageHeading: true,
                    classes: "govuk-body govuk-!-font-weight-regular"
                  }
                }
              }) }}
            </div>


            <div class="govuk-grid-column-one-half">
              {{ govukDateInput({
                id: "dissolution-end-date",
                namePrefix: "dissolution-end-date",
                fieldset: {
                  legend: {
                    html: "<p class='govuk-body govuk-!-font-weight-bold'>Company closed before</p>",
                    isPageHeading: true,
                    classes: "govuk-body govuk-!-font-weight-regular"
                  }
                }
              }) }}
            </div>
          </div>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {{ govukInput({
        label: {
          text: "Standard Industrial Classification (SIC) codes",
          classes: "govuk-label--s"
        },
        classes: "govuk-!-width-two-thirds",
        hint: {
          text: "For example, a manufacture of motor vehicles has the SIC code 29100."
        },
        id: "location",
        name: "location"
      }) }}

    </div>
  </div>

  

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      {{ govukButton({
          text: "Search"
      }) }}

  </div>
</div>
{% endblock %}
