{% extends "layout.html" %}

{% block pageTitle %}
  Companies House enhanced search
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="https://beta.companieshouse.gov.uk/">Back to Companies House service</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Companies House advanced search</h1>

        <div class="govuk-grid-column-two-thirds">


        {{ govukAccordion({
          id: "accordion-default",
          items: [
            {
              heading: {
                text: "Company name"
              },
              content: {
                html: "<div class='govuk-form-group'>
                          <label class='govuk-label' for='event-name'>
                            Company name that contains
                          </label>
                          <input class='govuk-input' id='event-name' name='contains-company-name' type='text'>
                        </div>

                        <div class='govuk-form-group'>
                          <label class='govuk-label' for='event-name'>
                            Exclude company names that contain 
                          </label>
                          <input class='govuk-input' id='event-name' name='contains-company-name' type='text'>
                        </div>"
              }
            },
              {
              heading: {
                text: "Location"
              },
              content: {
                html: '<fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        </legend>

                        <div class="govuk-form-group">
                          <label class="govuk-label" for="registered-address">
                            Registred address
                          </label>
                          <span id="registered-address-hint" class="govuk-hint">
                           For example, SA7 to search for an area or a SA7 8PP to search for a postcode.
                          </span>
                          <input class="govuk-input govuk-!-width-two-thirds" id="registered-address" name="registered-address" type="text">
                        </div>

                      </fieldset>'
              }
            },
              {
              heading: {
                text: "Status"
              },
              content: {
                html: '<div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="company-status">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                          </legend>
                          <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="waste" name="all-company" type="checkbox" value="carcasses">
                              <label class="govuk-label govuk-checkboxes__label" for="all-company">
                                Active
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                              <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                Dissolved
                              </label>
                            </div>
                          </div>
                        </fieldset>
                      </div>'
              }
            },
            {
              heading: {
                text: "Incorporation date"
              },
              content: {
                html: '<div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="from-incorportation-date-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                              From
                            </h1>
                          </legend>
                          <span id="from-incorportation-date-hint" class="govuk-hint">
                            For example, 27 3 2007
                          </span>
                          <div class="govuk-date-input" id="from-incorportation-date">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="from-incorportation-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-incporporation-day" name="from-incporporation-day" type="text" pattern="[0-9]*" inputmode="numeric">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="from-incorporation-month">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-incorporation-month" name="from-incorporation-month" type="text" pattern="[0-9]*" inputmode="numeric">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="from-incorporation-year">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-incorporation-year" name="from-incorporation-year" type="text" pattern="[0-9]*" inputmode="numeric">
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>

                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="incorportation-date-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                              To
                            </h1>
                          </legend>
                          <span id="incorportation-date-hint" class="govuk-hint">
                            For example, 27 3 2007
                          </span>
                          <div class="govuk-date-input" id="to-incorportation-date">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="to-incorportation-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-incporporation-day" name="to-incporporation-day" type="text" pattern="[0-9]*" inputmode="numeric">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="to-incorporation-month">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-incorporation-month" name="to-incorporation-month" type="text" pattern="[0-9]*" inputmode="numeric">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="to-incorporation-year">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to-incorporation-year" name="to-incorporation-year" type="text" pattern="[0-9]*" inputmode="numeric">
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>'
              }
            },
            {
              heading: {
                text: "Dissolved date"
              },
              content: {
                html: '<div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="from-dissolved-date-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                              From
                            </h1>
                          </legend>
                          <span id="from-dissolved-date-hint" class="govuk-hint">
                            For example, 27 3 2007
                          </span>
                          <div class="govuk-date-input" id="from-dissolved-date">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="from-incorportation-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-dissolved-day" name="from-dissolved-day" type="text" pattern="[0-9]*" inputmode="numeric">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="from-dissolved-month">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-dissolved-month" name="from-dissolved-month" type="text" pattern="[0-9]*" inputmode="numeric">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="from-dissolved-year">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-dissolved-year" name="from-dissolved-year" type="text" pattern="[0-9]*" inputmode="numeric">
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>

                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="to-dissolved-date-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                              To
                            </h1>
                          </legend>
                          <span id="to-dissolved-date-hint" class="govuk-hint">
                            For example, 27 3 2007
                          </span>
                          <div class="govuk-date-input" id="to-dissolved-date">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="to-dissolved-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-dissolved-day" name="to-dissolved-day" type="text" pattern="[0-9]*" inputmode="numeric">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="to-dissolved-month">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-dissolved-month" name="to-dissolved-month" type="text" pattern="[0-9]*" inputmode="numeric">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="to-dissolved-year">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to-dissolved-year" name="to-dissolved-year" type="text" pattern="[0-9]*" inputmode="numeric">
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>'
              }
            },
            {
              heading: {
                text: "Industry"
              },
              content: {
                html: '<div class="govuk-form-group">
                        <label class="govuk-label" for="event-name">
                          Standard Industrial Classification (SIC) codes
                        </label>
                        <span id="account-number-hint" class="govuk-hint">
                          For example, a manufacture of motor vehicles has the SIC code 29100.
                        </span>
                        <input class="govuk-input" id="event-name" name="event-name" type="text">
                      </div>

                      <a href="#" class="govuk-link govuk-link--no-visited-state">Browse codes</a>


                      '
              }
            }
          ]
        }) }}

      
  

      {{ govukButton({
          text: "Search"
      }) }}

  </div>
</div>
</div>
{% endblock %}
