
{% extends "layout.html" %}

{% block pageTitle %}
  Search prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Dissolved company search
      
      </h1>
      <p>
        Companies dissolved between 10 and 20 years ago. (Possibly back to the 1980s).
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="../search/dissolved-search" target="_blank">Dissolved search with previous names checkbox (opens in a new tab)</a>
        </li>
        <li><a href="../search/dissolved-search-radio" target="_blank">Dissolved search with dissolved name or previous names radio button (opens in a new tab)</a>
        </li>
        <li>
          <a href="../search/dissolved-records-results" target="_blank">
            Dissolved search results (opens in a new tab) 
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
