
{% extends "layout.html" %}

{% block pageTitle %}
  Search prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Dissolved company search
      </h1>

        <h2 class="govuk-heading-m">Prototypes for the releases</h2>

      <ul class="govuk-list">
    
        <li><a href="../dissolved/r1/dissolved-search" target="_blank"> Release 1 - Alphabetical dissolved company search. Search company name at dissolution</a>
        </li>
  
        <li><a href="../dissolved/r1-1/dissolved-search" target="_blank"> Release 1.1 - Best match search. Search company name at dissolution</a>
        </li>

        <li><a href="../dissolved/r1-2/dissolved-search" target="_blank"> Release 1.2 - Best match search. Search company name at dissolution and previous company names</a>
        </li>

        <li><a href="../dissolved/r1-2/dissolved-search-error-message" target="_blank"> Release 1.2 - with error message - Best match search. Search company name at dissolution and previous company names</a>
        </li>


        <li><a href="../dissolved/r1-3//dissolved-search" target="_blank"> Release 1.3 - Alphabetical company search. Search company name at dissolution and previous company names</a>
        </li>

        <li><a href="../dissolved/r1-5/dissolved-alphabetical-pagination" target="_blank"> Release 1.5 - Pagination for alphabetical search</a>
        </li>

        <li><a href="../dissolved/r1-5/dissolved-best-match-pagination" target="_blank"> Release 1.5 - Pagination for best match search</a>
        </li>

      </ul>

        <h2 class="govuk-heading-m">Enhancements based on user research</h2>

        <ul class="govuk-list">
    
        <li><a href="../dissolved/updates/dissolved-search" target="_blank"> Search by company name or number</a>
        </li>

        <li><a href="../dissolved/updates/dissolved-search-on-results-page-tabs" target="_blank"> Search on results page with tabs </a>
        </li>

        <li><a href="../dissolved/updates/dissolved-search-ro-address-v2" target="_blank"> Registered office address and dissolved report </a>
        </li>

        <li><a href="../dissolved/updates/dissolved-search-ro-address-v2-previous" target="_blank">Registered office address - Previous names at dissolution </a>
        </li>

      </ul>

      </div>
</div>

{% endblock %}
