
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/filing-history"
  }) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Contact details</h1>

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Your customer reference"
  },
  classes: "govuk-input--width-20",
  id: "width-20",
  name: "width-20"
}) }}



{% endblock %}
